page-nivel {
padding: 0;
margin: 0;
}
.homeN ion-icon{
    text-align: left;
  //  background-color:yellow;
    padding: 0px 0px;
    font-size: 30px;
    //color: 
  //  float: right;
}
.bodyNivel{
    background-image: url("../assets/imgs/fondos.jpg")
}
ion-content h2{
    font-size: 30px;
}
.niveles{
    //  width: 60%;
    padding: 0px 0px 10px 10px;
     height: 80%;
     padding: 30px 0 15px;
     font-size: 20px;
  }
  .niveles button{
      background-color: rgb(11, 172, 247);
      color: rgb(231, 245, 245);
      //font-size:15pt;
      
  }
  .niv{
    padding: 12px 0px;
    font:bold;
}
