<!--
  Generated template for the ConfiguracionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="headerNav">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
<!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />-->
  <ion-navbar class="nav">
    <ul>
      <li><button ion-button menuToggle class="toggle">
          <ion-icon name="menu"></ion-icon>
        </button> </li>
      <li><ion-title>Configuración</ion-title> </li>
      <li><a href="#">
          <ion-icon name="home"></ion-icon>
        </a></li>
    </ul>
  </ion-navbar>

</ion-header>


<!--<ion-content padding>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="card">
          <div class="card-body d-flex justify-content-between align-items-center">
            Lista de Etiquetas
            <a href="#" class="">Crear</a>
          </div>
        </div>
      </div>
    </div>
  </div>-->
<ion-content>
 <!-- <ion-input placeholder="Seleccione su categoria..." [(ngModel)]="valor1"></ion-input>
  <button ion-button  (click)="nextPage1()">1-10</button>
  <button ion-button>10-20</button>
  <button ion-button>20-30</button>
  <button ion-button>40-100</button>-->


</ion-content>