page-final {
padding: 0;
margin: 0;

}

.bodyFinal{
    background-image: url("../assets/imgs/fondos.jpg")
}
.section2 {
    background-color: rgb(253, 84, 17);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}

.section2 input{
   // margin-bottom: 5px;
    font-size: 10pt;
    border: 1px solid #cecece;
    background-color: #efefef;
    //padding: 20px 10px 10px;
    color: #03b6ec;
    border-radius: 5px;
    //width: 30%;
    outline: none;
    display: block;
    text-align: center;
    align-content: middle;
}

.section4 {
   // background-color: rgb(253, 84, 17);
   // padding: 10px;
    //margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}

.section4 button{
    // margin-bottom: 5px;
     font-size: 12pt;
     border: 1px solid #cecece;
    // background-color: #efefef;
     padding: 10px  0px;
     color: #f0f6f7;
     border-radius: 5px;
     width: 30%;
     height: 80px;
    //outline: none;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
 
 }