<!--
  Generated template for the FinalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
  <ion-navbar>
    <ion-title>Final</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bodyFinal">
  <ion-card *ngIf="correcta==5">
    <ion-card-header>
      ¡¡¡Felicitaciones!!!
    </ion-card-header>
    <ion-card-content>
      <img class="imagenAcertada" src="../assets/imgs/acertadopng.png" />
      Has alcanzado la máxima puntuación
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="correcta >1 && correcta < 5">
      <ion-card-header>
        ¡¡¡Lo has hecho bien!!!
      </ion-card-header>
      <ion-card-content>
        <img class="imagenAcertada" src="../assets/imgs/triste.png" />
        Has alacanzado una puntuación regular
      </ion-card-content>
    </ion-card>
  <ion-card *ngIf="incorrecta>=4">
    <ion-card-header>
      ¡¡¡Deberás practicar más!!!
    </ion-card-header>
    <ion-card-content>
      <img class="imagenAcertada" src="../assets/imgs/pesimopng.png" />
      Seguramente en el próximo intento lo haras mejor
    </ion-card-content>
  </ion-card>
  <article class="section2">
    <h3>Puntaje: {{score}}</h3>
    <h3>Tiempo: {{minutos}}:{{segundos}}</h3>
    <h3>Jugador: {{nombre}}</h3>
    <h3>Respuestas Correctas: {{correcta}}</h3>
    <h3>Respuestas Incorrectas: {{incorrecta}}</h3>
  </article>
  <div class="section4">
  <button  ion-button block (click)="jugarOtra()">Reiniciar</button>
  <a href="index.html"><button  ion-button block >Salir</button></a>
  </div> 
</ion-content>