page-contactos {
padding: 0;
margin: 0;

}
.sectionC{
    background-color:rgb(253,203,20);
}
/*.bodyContactos{
    background-image: url("../assets/imgs/fondos.jpg")
}*/
.desarrollador1, .textD1{
    display: inline-block;
}
.desarrollador2, .textD2{
    display: inline-block;
}
.desarrollador1, .desarrollador2{
    width: 20%;
}
.textD1, .textD2{
    width: 70%;
  }
.utplC{
   // width: 50%;
  //  height: 10px;
  text-align: center;
    margin-top:20px;
   //margin-bottom: 0 auto;
    background-color: rgb(14, 2, 65);
    //clear:both;
}

a{
    text-decoration: none;
}
/*.utplCo{
  //  height: 50%;
}*/

 