<!--
  Generated template for the CategoriaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <ion-navbar>
        <ul>
            <li class="men"><button ion-button menuToggle class="toggle">
                    <ion-icon name="menu"></ion-icon>
                </button> </li>
            <li class="titleCat">
               <ion-title>Categorias</ion-title>
            </li>
            <li class="home"><a href="#">
                    <ion-icon name="home"></ion-icon>
                </a></li>
        </ul>
    </ion-navbar>

</ion-header>

<ion-content padding class="bodyCategoria">
  <!--  <h2><b>Seleccione Categoria</b></h2>-->
  
    <article class="section">
        <span>
            <h2><b>Seleccione Categoria</b></h2>
          </span>
        <div class="categorias">

            <div class="cat1">
                <button ion-button block icon-end round outline (click)="bntSuma()"> <b>Suma</b>(<ion-icon name="add"></ion-icon>)</button>
            </div>
            <div class="cat1">
                <button ion-button block icon-end round outline (click)="bntResta()"><b>Resta</b>(<ion-icon name="md-remove"></ion-icon>)</button>
            </div>
            <div class="cat1">
                <button ion-button block icon-end round outline (click)="bntMultiplicacion()"><b>Multiplicación</b>(<ion-icon
                        name="md-close"></ion-icon>)</button>
            </div>
            <div class="cat1">
                <button ion-button block icon-end round outline (click)="bntMixta()"><b>Mixta</b> (<ion-icon name="add">,</ion-icon>
                    <ion-icon name="md-remove">,</ion-icon>
                    <ion-icon name="md-close"></ion-icon>)
                </button>
            </div>
        </div>
    </article>
</ion-content>