page-categoria {
    padding: 0;
    margin: 0;
}
.bodyCategoria{
    background-image: url("../assets/imgs/fondos.jpg")
}
ion-header{
    background-color:  #20bcd5;
}
.titleCat{
    text-align: left;
    //background-color: red;
    //padding: 0px 0px;
    padding: 1px 3px 2px;
    //text-align: right
}

.men{
    text-align: left;
    //background-color: black;
   // padding: 0px 0px;
}
.home ion-icon{
    text-align: left;
  //  background-color:yellow;
    padding: 0px 0px;
    font-size: 30px;
    //color: 
  //  float: right;
}
ion-content h2{
    font-size: 30px;
}
.categorias{
  //  width: 60%;
  //padding: 0px 0px 10px 10px;
   height: 80%;
  // background-color: blue;
   padding: 17px 10px;
 
}
.categorias button{
    background-color: rgb(11, 172, 247);
    color: rgb(231, 245, 245);
    
}

.cat1{
    padding: 12px 0px;
    font:bold;
}

.categorias ion-icon{
    color: red;
    //background-color: aquamarine;
    padding: 0px 5px;
    font-size: 20px;
}
