<!--
  Generated template for the SegundaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
  <ion-navbar>
    
    <ion-title>
     <!-- <h1>Calandria Mates</h1>-->
    </ion-title>
    <ul>
        <li class="s"><ion-icon class="reloj"><img class="relojArena" src="../assets/icon/arena.jpg" alt=""></ion-icon>={{minutos}}:{{segundos}} </li>
        <li>Puntaje: {{score}}</li>
        
        <li class="homeS"><a href="#" >
            <ion-icon name="home"></ion-icon>
          </a></li>
      </ul>
    <ul> <li class="s"> <ion-icon class="nino"><img class="avatarS" src="../assets/icon/avatar.png" alt=""></ion-icon>= {{nombre}}</li>
     <li>Intentos: {{intento}}</li> </ul>
    <!--<div><time>Time = {{minutos}}:{{segundos}}</time><br>
      Score: {{score}} <br>
       <br>
      Jugador: {{nombre}}
    </div>-->

  </ion-navbar>

</ion-header>

<ion-content padding class="bodySegunda">
    <!--<audio src="../assets/sonidos/brillante.mp3" controls>  
        Tu navegador no soporta el elemento <code>audio</code>.  
      </audio>
      <button ion-button id="boton" (click)="sonar()">play</button>-->
  <div class="welcome">
   <!-- <h2><b>Bievenido al juego {{nombre}}</b></h2>-->
   <ion-card *ngIf="controlCorrecta == false && controlIncorrecta == false">
      <ion-card-content class="contS">
         Pongamos a prueba tus conocimientos matemáticos
      </ion-card-content>
    </ion-card >
 <!--<p *ngIf="controlCorrecta == false && controlIncorrecta == false ">Pongamos a prueba tus conocimientos matemáticos</p>-->
  </div>
  <ion-card *ngIf="controlCorrecta == true">
      
    <ion-card-header>
        ¡¡¡Enhorabuena!!!
    </ion-card-header>
    <ion-card-content>
       <img class="imagenAcertada"src="../assets/imgs/aplausos.gif"/>
      Has acertado, la respuesta es {{ numSum }}
    </ion-card-content>
  </ion-card >

  <ion-card *ngIf="controlIncorrecta == true">
    <ion-card-header>
      ¡¡¡Respuesta Incorrecta!!!
    </ion-card-header>
    <ion-card-content>
        <img class="imagenAcertada"src="../assets/imgs/tenor.gif"/>
      La respuesta correcta de {{num1}} {{signo}} {{num2}} es igual {{numSum}}
    </ion-card-content>
  </ion-card>
  <article class="section1">
    <input type="number" [(ngModel)]="num1" [disabled]="true" placeholder="Numero 1">
    <input type="text" [(ngModel)]="signo" [disabled]="true" placeholder="Signo">
    <input type="number" [(ngModel)]="num2" [disabled]="true" placeholder="Numero 2"><br>

    <div class="bloque1" >
      <button  [disabled]="controlIncorrecta" [disabled]="controlCorrecta" ion-button (click)="comprobarNumeroSumaBotones1()" name="bnt1">{{bnt1}}</button>
      <button [disabled]="controlIncorrecta" [disabled]="controlCorrecta" ion-button (click)="comprobarNumeroSumaBotones2()" name="bnt2">{{bnt2}}</button>

    </div>
    <div class="bloque2" >
      <button  [disabled]="controlIncorrecta" [disabled]="controlCorrecta"  ion-button (click)="comprobarNumeroSumaBotones3()" name="bnt3">{{bnt3}}</button>
      <button  [disabled]="controlIncorrecta" [disabled]="controlCorrecta" ion-button (click)="comprobarNumeroSumaBotones4()" name="bnt4">{{bnt4}}</button>
    </div>

  </article>

<button *ngIf="bandera == true && intento > 0" ion-button block (click)="reinicia1()">Siguiente</button>
<button *ngIf="intento == 0" ion-button block (click)="finalizar()">Finalizar</button>
</ion-content>