page-segunda {
    padding: 0;
    margin: 0;
}

ion-navbar ion-title,h1{
    text-align-last: center;
    color: #FF7433;
    
    }
.homeS ion-icon{
        text-align: left;
      //  background-color:yellow;
        padding: 0px 0px;
        font-size: 30px;
        //color: 
      //  float: right;
    }


.s{
  //  background-color: blue;
    width: 50%;
    //height: 10%;
}
.reloj{
   //background-color: blue;
    width: 15%;
    
}
.relojArena{
    width: 100%;
    height: 20px;
    //height: 10%;
   // background-color: red;
    margin: 0 auto;
}
.nino{
   // background-color: red;
    width: 15%;

}
.avatarS{
    width: 100%;
    //height: 10%;
   // background-color: red;
    margin: 0 auto;
}
.welcome h2{
    border: 10px outset #20bcd5;
}
.welcome p{
    text-align: center;
    padding: 10px;
}
    ion-card{
        border: 10px outset #20bcd5;
        background-color: #03b6ec;
        background: #03b6ec;
        text-align: center;
    }
.contS{
        font-size: 13pt;
    }
.bodySegunda{
        background-image: url("../assets/imgs/fondos.jpg")
    }
.imagenAcertada{
    margin:0 auto;
   // display:block;
    width: 30%;
   // height: 10%;
    //background-color: #FF7433;
}
    
    .section1 {
        background-color: rgb(253, 84, 17);
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
        text-align: center;
    }

    .section1 input{
       // margin-bottom: 5px;
        font-size: 19pt;
        border: 1px solid #cecece;
        background-color: #efefef;
        //padding: 20px 10px 10px;
        color: #03b6ec;
        border-radius: 5px;
        width: 30%;
        outline: none;
        display: inline-block;
        text-align: center;
    }

    .section1 button{
        // margin-bottom: 5px;
         font-size: 30pt;
         border: 1px solid #cecece;
        // background-color: #efefef;
         padding: 50px 40px 30px;
         color: #f0f6f7;
         border-radius: 5px;
         width: 35%;
         //height: 800%;
         outline: none;
         display: inline-block;
         text-align: center;
     }
     
     /*footer {
        background-color: black;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
        color: white;
      }*/

