* {
    
    padding: 0;
    margin: 0;
    animation: colorchange 50s; 
    -webkit-animation: colorchange 50s;
}

/*@keyframes colorchanges
%0
{
    background:rgba(255,255,0,.2);
    }
    10%
    {
        background:rgba(255,0,0,.2);
    }
    20%
    {
        background:rgba(0,255,0,.2);
    }
    30%
    {
        background:rgba(255,0,255,.2);
    }
    40%
    {
        background:rgba(0,255,255,.2);
    }   
    50%
    {
        background:rgba(255,255,255,.2);
    }
    60%
    {
        background:rgba(0,0,0,.2);
    }
    70%
    {
        background:rgba(225,255,0,.3);
    }
    80%
    {
        background:rgba(255,0,0,.3);
    }
    90%
    {
        background:rgba(0,255,0,.3);
    }
    100%
    {
        background:rgba(255,0,255,.3);
    }
    @keyframes animate
    
    {
    
    }
    @-webkit-keyframes colorchange 
    {
        0%
        {
        background:rgba(255,255,0,.2);
        }
        10%
        {
            background:rgba(255,0,0,.2);
        }
        20%
        {
            background:rgba(0,255,0,.2);
        }
        30%
        {
            background:rgba(255,0,255,.2);
        }
        40%
        {
            background:rgba(0,255,255,.2);
        }   
        50%
        {
            background:rgba(255,255,255,.2);
        }
        60%
        {
            background:rgba(0, 0, 0, 0.2);
        }
        70%
        {
            background:rgba(225,255,0,.3);
        }
        80%
        {
            background:rgba(255,0,0,.3);
        }
        90%
        {
            background:rgba(0,255,0,.3);
        }
        100%
        {
            background:rgba(255,0,255,.3);
        }
        
         }*/

//Estilos del header
ion-header{
    background-color:  #20bcd5;
}
.bodyHome{
    background-image: url("../assets/imgs/cute.jpg")
}
ion-content, ion-header{

    font-family: "Handlee";
    font-size: 13pt;
    padding: 10px;
    margin: 0;
}

//Estilos navbar
ion-navbar ion-title,h1{
text-align-last: center;
color: #FF7433;

}

//estilos de la imagen de fondo del encabezado
#encabezado {
    background-image: url("../assets/imgs/header.jpg");
    background-size: cover;
    border: 10px groove#20bcd5;
    //padding: 10px;
    border-radius: 10px;
}

//Estilos del logo de calandria
#encabezado img {
    display: block;
    width: 160px;
    height: 100px;
    margin: auto;
    
    //padding: 5px;
}
 
h2 {
    font-size: 15pt;
    color: #3fb6b2;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}

//Estilos del bloque (Modo de Juego)
span h2 {
    border: 4px outset #20bcd5;
    padding: 10px;
    background-color: #f3fdf6;
}

//Estilos para todas las etiquetas con nombre de clase section (estandar)
.section {
    background-color: rgb(253, 84, 17);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}

// Estilo del article para el borde del bloque

article{
    border: 10px groove #20bcd5;
}

.parrP{
color:rgb(18, 240, 229);
}

// Estilos a para el bloque que contiene la imagen avatar
#avatar img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}

//Estilos para el borde de la imagen avatar
.img-circle {
    border-radius: 50%;
   border: 10px inset#20bcd5;
}

// Estilos al formulario
form {
    text-align: center;
    margin-top: 0;
}

//Estilos al botón submit
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}

//Estilo de efecto para el botón submit
.submit:hover {
    background-color: #43a09d;
}

//Estilo al etiqueta input del formulario
 input{
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}

//Estilos al footer
footer{
    border:4px solid  #20bcd5;
}
footer
{
    //margin-top:50px;
    width:100%;
   // height: 30%;
    background-color: rgb(14, 2, 65);
    border-radius: 10px;
}

// Estilos al bloque con el nombre de clase coyright
.copyright {

    font-size: 7pt;
   // text-align: center;
   // padding-bottom: 10px;
    color: rgb(242, 248, 248);
    //width: 100%;
   // height: 100%;
 //  background-color:red;
  // padding: 0px 0px 0px 10px ;
}

//Estilos a la ikmaggen que contiene el bloque
footer img {
    //display: table;
    width: 40px;
    height: 20px;
    margin: left;
   padding: 2px 2px;
  //  background-color: red;
}

footer ul{
    list-style: none;
    //background-color: red;
}

footer ul{
	display: table;
    width: 100%;
    height: 100%;
	//background:  #FF7433;;
	position: relative;
}
footer ul li{
	display: table-cell;
}






