<!--Inicio del header-->

<ion-header>
 <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
  <ion-navbar>
    <!-- <ion-title>
      <h1>Calandria Mates</h1>
    </ion-title>-->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<!--Fin del header-->

<!--Inicio del content-->
<ion-content padding class="bodyHome">

  <div id="encabezado">
    <img src="../assets/imgs/logoescuela.png" alt="">
  </div><br>
  <!--Fin del encabezado-->

  <!--Inicio del article-->
  <article class="section">
    <span>
      <h2><b>Modo de Juego</b></h2>
    </span>
    <img src="../assets/imgs/niñosNum.png" alt="" id="kids">
    <p class="parrP"><b>Adivina la respuesta de las operaciones matemáticas<br>¿Serás capaz de lograrlo?</b> </p>

    <!--Inicio del avatar -->
    <div id="avatar" class="section">
      <img alt="" class="img-circle" src="../assets/imgs/animal.png">
    </div>
    <!--Inicio del avatar -->

    <!--Inicio del formulario -->
    <!-- <form [formGroup]="myForm" >
      <input formControlName="name" placeholder="Escriba su nombre..." type="text" /><br />
      <input [navPush]="segundaPage" type="submit" [disabled]="!myForm.valid" class="submit" value="START"  />
    </form>-->



    <!--<ion-input  placeholder="Escriba su nombre..." type="text" [(ngModel)]="num"></ion-input> <br />-->
    <!--<button ion-button (click)="saveData1()">Adivina</button>-->
    <input placeholder="Escriba su nombre..." type="text" [(ngModel)]="nombre" /><br />
    <input (click)="nextPage()" type="submit" [disabled]="!nombre" class="submit" value="START" (click)="saveData1()" />

    <!--Fin del formulario -->
  </article>
  <!--Fin del article -->

  <!--Inicio del footer -->
  <footer>
    <!--  <img src="../assets/imgs/logo1.png" alt="https://www.utpl.edu.ec/">
    <div class="copyright"><br>
      <b>&copy; Copyright 2018. Universidad Técnica Particular de Loja</b>
    </div>-->
    <ul>
      <li><img src="../assets/imgs/logo1.png" alt="https://www.utpl.edu.ec/"></li>
      <li class="copyright"> <b>&copy; Copyright 2018. Universidad Técnica Particular de Loja</b></li>
  </ul>
  </footer>
  <!--Fin del footer -->
</ion-content>
<!--Fin del content-->